* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image {
  height: 250px;
  width: 280px;
  object-fit: cover; /* image distortion avoid */
}

.pageNo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 80px;
  width: 80px;
  color: white;
  background: #000;
}

.next{
  font-size: 30px;
  height: 80px;
  width: 80px;
  color: white;
  background: #071c47;
}

.pagebutton{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}